@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=VT323&display=swap');
/* 
font-family: "VT323", monospace;
font-family: "Amatic SC", sans-serif;
font-family: "Montserrat", sans-serif;
*/

html, body, #root{
    height: 100%;
    position: sticky;
    top: 0;
    background-color: #FECA1B;
}
body{
    font-family: "Montserrat", sans-serif;
}
.blu{
    color: #436eb9;
}
.btn{
    border: none;
}
.cursor{
    cursor: pointer;
}

/* home page */

.main-container{
    height: 82%;
    position: sticky;
    top: 0;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: white;
}
@media screen and (min-width: 768px) {
    .main-container{
        height: 97%;
    }
    .main-row{
        min-height: 85%;
    }
    /* navbar */
    nav{
        height: 97%;
        text-align: center;
    }
}
.main-row{
    height: 82%;
    overflow: auto;
    background-color: #fafafa;
    margin: 0 0.1em;
    border-radius: 0.5em;
}
.main-row::-webkit-scrollbar{
    background-color: rgba(29, 20, 20, 0);
    visibility: hidden;
    border-radius: 0.5em;
}



/* navbar */

.nav-link{
    padding: 0.1em 0.5em;
    margin: 0.2em 0;
    border-radius: 0.3em;
}
.nav-link:hover{
    background-color: #fec91b5f;
    
}



/* icone */

.bi-arrow-left-circle:hover, 
.bi-arrow-right-circle:hover,
.bi-heart:hover,
.bi-heart-fill:hover, 
.bi-volume-up:hover{
    color: #f1be14;
}
.bi-heart-fill, .bi-heart{
    color: #436eb9;
}


/* search */

.search:hover{
    background-color: #436eb9;
    color: #FECA1B;
}



/* rowpokemon */

.pokemon-row{
    font-family: "VT323", monospace;
    font-size: 1.2em;
    background-color: #fec91b5f;
    margin: 0 0 0.5em 0.1em;
    border-radius: 0.6em;
}
.pokemon-row:hover{
    background-color: #3760a854;
}
/* nome pokemon */
.pokemon-link{
    text-decoration: none;
    color: rgb(65, 65, 65);
}
.pokemon-link:hover{
    color: #436eb9;
}



/* colori */

.normal{
    background-color: #A0A29F;
    color: white;
}
.fighting{
    background-color: #EE7E33;
}
.flying{
    background-color: #81B9EF;
}
.poison{
    background-color: #9144CB;
    color: white;
}
.ground{
    background-color: #915121;
    color: white;
}
.rock{
    background-color: #B0AA81;
}
.bug{
    background-color: #91A119;
}
.ghost{
    background-color: #704170;
    color: white;
}
.steel{
    background-color: #60A1B9;
    color: white;
}
.fire{
    background-color: #E73E33;
    
}
.water{
    background-color: #2980F0;
    color: white;
}
.grass{
    background-color: #52A12B;
    color: white;
}
.electric{
    background-color: #F7C033;
}
.psychic{
    background-color: #E94579;
}
.ice{
    background-color: #61D9FB;
}
.dragon{
    background-color: #5160E1;
    color: white;
}
.dark{
    background-color: #615958;
    color: white;
}
.fairy{
    background-color: #E86FEF;
}
.unknown{
    background-color: #669D8D;
    color: white;
}
.shadow{
    background-color: #5F4E81;
    color: white;
}

/* types */

.type:hover{
    transform: scale(1, 1.1);
}

/* evolutions */

.evolution-selected{
    background-color: #fec91b8a;
    border-radius: 1em ;
}
.evolution:hover{
    transform: scale(1.2);
    animation: evolutionHover 0.8s linear infinite;
}

@keyframes evolutionHover {
    0%{
        transform: translateY(0em);
    }
    50%{
        transform: translateY(-1.5em);
    }
    100%{
        transform: translateY(0em);
    }
}


/* verso */
#cries:hover{
    color: #e6b412;
}
